@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Exo:100);
@font-face {
  font-family: "Aircruiser";
  src: local("Aircruiser"), url("./fonst/aircruiserchromeital.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "AircruiserPlat";
  src: local("AircruiserPlat"), url("./fonst/aircruiserplat.ttf");
  font-weight: bold;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navbar {
  background-color: transparent !important;
}

nav {
  font-family: "Teko", sans-serif;
}
nav .navbar-nav {
  font-size: 1.5rem;
}
nav .navbar-brand {
  font-family: "AircruiserPlat";
  font-size: 2rem;
}

.g-1 {
  gap: 20px;
}

.mr {
  margin-right: 3%;
}

.frontImg {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.carousel {
  height: 100vh;
  width: auto;
  /*     overflow: hidden; */
  -o-object-fit: cover;
     object-fit: cover;
}

.introduction {
  padding: 0;
}
.introduction .welcome {
  width: 100%;
  height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(90deg, rgb(251, 255, 206) 0%, rgb(152, 152, 152) 29%, rgb(255, 140, 140) 70%, rgb(176, 158, 255) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.introduction .welcome div {
  width: 100%;
  color: #ffffff;
}
.introduction .welcome h1 {
  font-family: "Aircruiser";
  font-size: 12.5rem;
  text-align: start;
  font-weight: 700;
}
.introduction .welcome h2 {
  font-size: 5rem;
  text-align: end;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  background-color: transparent;
}
.introduction .welcome h3 {
  font-size: 3rem;
  text-align: start;
  font-family: "Teko", sans-serif;
}
.introduction .details {
  font-family: "Teko", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
}
.introduction .details h1 {
  font-family: "Teko", sans-serif;
  font-size: 6.5rem;
  text-align: start;
  font-weight: 700;
  background-color: rgba(128, 128, 128, 0.247);
}
.introduction .details h2 {
  font-size: 4rem;
  text-align: end;
  line-height: 80px;
}
.introduction .details p {
  font-size: 1.5rem;
  text-align: justify;
  line-height: 30px;
}

h1 {
  font-family: "AircruiserPlat";
  font-size: 4rem;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

h2 {
  font-family: "Teko", sans-serif;
  font-size: 5rem;
  color: white;
  background-color: gray;
}

h3 {
  font-family: "Teko", sans-serif;
  font-size: 4rem;
  text-align: end;
  padding-right: 3%;
  margin-bottom: 4%;
}

h4 {
  font-family: "Teko", sans-serif;
  font-size: 4rem;
  text-align: start;
  padding-left: 3%;
  margin-top: 4%;
}

a {
  color: gray;
}

.contacts {
  background-color: gray;
  height: 100vh;
  color: #ffffff;
  margin-top: 5%;
}
.contacts a {
  color: #fff;
}

.card {
  width: 40% !important;
  font-family: "Teko", sans-serif;
}
.card .card-body {
  overflow: auto;
}
.card .card-body button {
  --c: #f1f5ab;
  /* the color*/
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  margin-bottom: 3%;
  margin-right: 3%;
  padding-left: 2%;
  padding-right: 2%;
  border: none;
  color: rgb(72, 72, 72);
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%, var(--_g) calc(200% - var(--_p, 0%)) 0%, var(--_g) calc(var(--_p, 0%) - 100%) 100%, var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
.card .card-body button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
.card .card-body button:active {
  box-shadow: 0 0 9000000000q inset rgba(0, 0, 0, 0.6);
  background-color: var(--c);
  color: #fff;
}
.card .card-body a {
  margin-left: 5px;
  margin-bottom: 15px;
}
.card .card-body .card-title {
  font-size: 2rem !important;
}
.card .card-body p {
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
}
.card img {
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    width: 100%;
  }
  nav .navbar-nav {
    font-size: 1.5rem;
  }
  nav .navbar-brand {
    font-family: "AircruiserPlat";
    font-size: 1.5rem;
  }
  .welcome h1 {
    font-size: 2.5rem !important;
  }
  .welcome h2 {
    font-size: 2rem !important;
  }
  .welcome h3 {
    font-size: 2rem !important;
  }
  .details {
    flex-direction: column !important;
  }
  .details h1 {
    font-size: 3rem !important;
  }
  .details h2 {
    font-size: 2rem !important;
    line-height: 40px !important;
  }
  .details p {
    font-size: 1rem !important;
    line-height: 20px !important;
  }
  .details div {
    flex-direction: column !important;
  }
  h4 {
    font-size: 2rem !important;
    margin-top: 10%;
  }
  h1 {
    font-size: 2.5rem !important;
  }
  h3 {
    font-size: 2rem !important;
  }
  .card {
    width: 100% !important;
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  .welcome h1 {
    font-size: 7rem !important;
  }
  .welcome h2 {
    font-size: 4rem !important;
  }
  .welcome h3 {
    font-size: 4rem !important;
  }
  .details {
    flex-direction: column !important;
  }
  .details h1 {
    font-size: 6rem !important;
  }
  .details h2 {
    font-size: 4rem !important;
    line-height: 40px !important;
    margin-bottom: 5% !important;
  }
  .details p {
    font-size: 2rem !important;
    line-height: 40px !important;
  }
  .details div {
    flex-direction: column !important;
  }
  h4 {
    font-size: 4rem !important;
    margin-top: 10%;
  }
  h1 {
    font-size: 7rem !important;
  }
  h3 {
    font-size: 4rem !important;
  }
  .card {
    width: 100% !important;
    margin-bottom: 5%;
  }
}
@media (min-width: 1024px) {
  .welcome h1 {
    font-size: 8rem !important;
  }
  .welcome h2 {
    font-size: 4rem !important;
  }
  .welcome h3 {
    font-size: 4rem !important;
  }
  .details {
    flex-direction: row !important;
  }
  .details h1 {
    font-size: 6rem !important;
  }
  .details h2 {
    font-size: 4rem !important;
    line-height: 60px !important;
    margin-bottom: 5% !important;
  }
  .details p {
    font-size: 1.5rem !important;
    line-height: 30px !important;
  }
  .details div {
    flex-direction: column !important;
  }
  h4 {
    font-size: 4rem !important;
    margin-top: 10%;
  }
  h1 {
    font-size: 7rem !important;
  }
  h3 {
    font-size: 4rem !important;
  }
  .card {
    width: 40% !important;
    margin-bottom: 5%;
  }
}/*# sourceMappingURL=style.css.map */